{$DOMAIN} {
    encode zstd gzip

    handle /health {
        respond "ok" 200
    }

    handle_path /api/* {
        reverse_proxy backend:7000
    }

    handle_path /alertmanager/* {
        reverse_proxy alertmanager:9093
    }

    handle {
        root * /dist
        try_files {path} /index.html
        file_server
    }

    tls {
        dns cloudflare {$CLOUDFLARE_API_TOKEN}
    }
}
