flask
flask-cors
flask-socketio
gunicorn
gevent
python-dotenv
python-jose
pymongo[srv]
python-nmap
ansi2html
redis
pid
ansible
ansible-runner
pyyaml
pillow
xmltodict

# Development tools
pytest
pytest-cov
requests
black

# TOML
# Once (or if) PR #375 is merged, we will switch back to `uiri/toml`
git+https://github.com/amunchet/toml.git
