flask
flask-cors
gunicorn
python-dotenv
python-jose
pymongo
python-nmap
ansi2html
redis
pid

# Development tools
pytest
pytest-cov
requests

# TOML
# Once (or if) PR #375 is merged, we will switch back to `uiri/toml`
git+https://github.com/amunchet/toml.git