flask==2.*
flask-cors
flask-socketio
gunicorn
gevent
python-dotenv
python-jose
pymongo[srv]>=4.6,<5
psycopg2-binary>=2.9,<3
python-nmap
ansi2html
redis>=5.0,<9
pid
ansible
ansible-runner
pyyaml
pillow
xmltodict
anthropic

# Development tools
pytest
pytest-cov
requests
black
boto3

# TOML
# Once (or if) PR #375 is merged, we will switch back to `uiri/toml`
git+https://github.com/amunchet/toml.git
