modelcontextprotocol
uvicorn[standard]
flask==2.*
flask-cors
python-dotenv
python-jose
pymongo[srv]>=4.6,<5
psycopg2-binary>=2.9,<3
redis>=5.0,<9
requests
pyyaml
pillow
pid
ansible-runner
ansi2html
six
git+https://github.com/amunchet/toml.git
