/* Color Theme Swatches in Hex */
$lightblue: #83d3df;
$red: #db7077;
$orange: #ffab71;
$darkblue: #375775;
$superlight: #d8faff;

/* Color Theme Swatches in Hex */
$darkblue: #1e2f3e;
$lightblue: #56c0f8;
$blue: #0da3a8;
$yellow: #f5ca4e;
$orange: #efba48;

/* Colors */

// Main color
//$lightblue: #83d3df;
$darkblue: #38595e;
$green: #49d184;
//$red: #DE7562; //Pivot off the green
$orange: #f5b65f;

$darkerblue: #56a0f8;

$grey: #bfbfbd;
$darkgrey: #64646e;

/* Implementation */
.lightblue-bg {
  background-color: $lightblue;
}
.red-bg {
  background-color: $red;
}
.orange-bg {
  //background-color: $orange !important;
  border: 1px solid $orange;
}
.green-bg {
  background-color: $green;
}
.darkblue-bg {
  //background-color: $darkblue;
  border: 1px solid $darkblue;
}
.superlight-bg {
  background-color: $superlight;
}
.lightblue {
  color: $lightblue !important;
}
.red {
  color: $red !important;
}
.orange {
  color: $orange !important;
}
.darkblue {
  color: $darkblue !important;
}
.superlight {
  color: $superlight !important;
}

.grey{
    color: $grey !important;
}
.darkgrey{
    color: $darkgrey !important;
}
.text-success {
  color: $green !important;
}
.text-danger{
    color: $red !important;
}
.text-warning{
    color: $orange !important;
}

:export {
  darkblue: $darkblue;
  lightblue: $lightblue;
  blue: $blue;
  yellow: $yellow;
  orange: $orange;
  red: $red;
  darkerblue: $darkerblue;
  green: $green;
}
