/* Color Theme Swatches in Hex */
$lightblue: #83d3df;
$red: #db7077;
$orange: #ffab71;
$darkblue: #375775;
$superlight: #d8faff;

.lightblue-bg {
  background-color: $lightblue;
}
.red-bg {
  background-color: $red;
}
.orange-bg {
  background-color: $orange;
}
.darkblue-bg {
  background-color: $darkblue;
}
.superlight-bg {
  background-color: $superlight;
}