* * * * * /bin/bash /cron/run.sh > /var/log/finder
* * * * * /bin/bash /cron/bulk_write.sh > /var/log/bulk_write
* * * * * /bin/bash /cron/proxmox_refresh.sh > /var/log/proxmox_refresh
* * * * * sleep 30; /bin/bash /cron/proxmox_refresh.sh >> /var/log/proxmox_refresh
*/10 * * * * /bin/bash /cron/watcher.sh > /var/log/watcher
*/2 * * * * /bin/bash /cron/alive.sh > /var/log/alive
0 * * * * /bin/bash /cron/ai.sh > /var/log/ai
1 0 * * * /bin/bash /cron/level_expire.sh > /var/log/level_expire
0 * * * * /bin/bash /cron/disk_check.sh > /var/log/disk_check
0 * * * * /bin/bash /cron/ec2_check.sh > /var/log/ec2_check

# Must have Blank line before EOF
